* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red-border: hsl(0, 78%, 62%);
    --cyan-border: hsl(180, 62%, 55%);
    --orange-border: hsl(34, 97%, 64%);
    --blue-border: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}